     <form class="form-horizontal" {{action 'save' on='submit'}} id="myform">
        {{#each model.questions as |q|}}    
        {{#if (equals q.type 'checkbox') }}
        <label for="exampleInputPassword1"> {{q.text}} ?</label>
        {{#each q.answers as |answer index2|}}
        <div class="checkbox">
            <label>
               {{input type="radio" name=(checkbox-group q.id) id=(field-id q.fieldId index2) value=(field-id q.fieldId index2)}} 
               {{answer.text}}
           </label>
       </div>
       {{/each}}
       {{/if}}

       {{#if (equals q.type 'input')}}
       <label for="exampleInputEmail1">{{q.text}}?</label>
       <!--<input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">-->
       {{input type="input" class="form-control" name=(field-id q.fieldId 0) id=(field-id q.fieldId 0)}}
       {{!input type="text"  class="form-control" value=name placeholder="Name"}}
       {{/if}}
       {{/each}}

       <button type="submit">aceptar</button>

   </form> 
