     <form>
        {{#each model.questions as |q|}}         
            <div class="form-group">              
                    {{#if (equals q.type 'checkbox') }}
                        <label for="exampleInputPassword1"> {{q.text}} ?</label>
                        <ul>
                            {{#each q.answers as |answer|}}
                                 <li>{{input type="radio"}} - {{answer.text}} </li>
                            {{/each}}
                    
                        </ul>
                    {{/if}}

                    {{#if (equals q.type 'input')}}
                       <label>{{q.text}}?</label> {{input type="input"}}                                                    
                    {{/if}}
             </div>
        {{/each}}
      </form> 
